.hr{
    border: 0;
    height: 3px;
    background: #cf7704;
    
}

.hr_2{
    width:10rem;
    border: 0;
    height: 3px;
    background: #cf7704;
    align-items: center;
    margin: auto;
}

body {
    color: $color-secondaire;
    background-color: $color-fond;
}