#section2{
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $color-fond;

    h2 {
        font-size: 3rem;
        color: $color-primaire;
        letter-spacing: 0.1rem;
        margin-top: 4rem;
    }

    p {
        font-size : 1.2rem;
        margin-bottom: 0.5rem;
        max-width: 70%;
    }
}
form{
    margin: 0.1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#courriel{
    width: 100%;
    height: 3rem;
    padding: 0 4rem;
    border: 1px solid $color-accent;
    margin-top: 2rem;
}

#envoyer{
    width: 50%;
    margin: 2rem 0 0 1.5rem;
    height: 3rem;
    padding: 0 1.25rem;
    border: 1px solid $color-accent;
    background-color: $color-accent;
    color: $color-btn-txt;
    font-size: 1.5rem;
    text-transform: uppercase;
    letter-spacing: 0.05rem;
    transition: background-color 0.3s, color 0.3s;

    &:hover {
        background-color: $color-btn-txt;
        color: $color-accent;
    }
}

.section2_divimg{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: auto;
    padding: 4rem 0;

    & img {
        width: 33%;
        padding: 0.2rem;
        margin: auto;
        object-fit: cover;
        box-shadow: 0 14px 28px rgba(18, 14, 7, 0.25), 0 10px 10px rgba(13, 0, 0, 0.22);
    }
}

iframe{
    margin:1rem;
    box-shadow: 0 14px 28px rgba(18, 14, 7, 0.25), 0 10px 10px rgba(13, 0, 0, 0.22);

}

