#section4 {
    display: flex;
    flex-direction: column;

}

.section4_card--text {
    display: flex;
    flex-direction: row;
    max-width: 1200px;
    margin: auto;
    justify-content: space-between;
    text-align: center;
    vertical-align: middle;
    align-items: center;


}

.section4_card1 {
    background-color: $color-accent;
    opacity: 0.7;
    display: flex;

}

.section4_card2 {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.section4_card3 {
    background-color: $color-accent;
    opacity: 0.7;
}

.section4_card--text1 {
    padding: 2rem;
}