#section1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(../../image/IMG-Dune-P1-Hero-1280x720.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 85vh;
}

.header {
    width: 1200px;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
   
}

nav ul li{
    display: inline-block;
    font-size: 20px;
    color: rgb(167, 167, 8);
    margin-left: 2rem;
}

.section_presentation{
    max-width: 1200px;
    margin: auto;
    display: grid;
    justify-content: center;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows:1fr 1fr 1fr ;
    align-items: center;
    padding-top: 5rem;
    padding-bottom: 5rem;
}

.section_presentation--img{
   
    grid-column: 3/7;
    grid-row: 1/4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.section_presentation--text{
    font-size: 1.5rem;
    opacity: .70;
    grid-column: 2/4;
    grid-row: 1/4;
    display: flex;
    flex-direction: column; 
    text-align: left;
    
    color:white;
}

// h1{
//     font-size: 8rem;
//     font-family: 'Frank Ruhl Libre', serif;
//     color: $color-primaire;
// }

