#section3{
    // background-color: $color-fond;
    margin: 5rem 0; 
}

.section3_princ{
    max-width: 1200px;
    width: 90%;
    display: flex;
    flex-direction: column;
    margin:auto;
    margin-bottom: 2rem;

    h2 {
        font-size: 3rem;
        color: $color-primaire;
        letter-spacing: 0.1rem;
        margin-top: 2rem 0;
    }

    p {
        font-size : 1.25rem;
        margin-bottom: 0.75rem;
        max-width: 70%;
    }
}

// .section3_gridcard{
//     display: grid;
//     grid-template-columns: 1fr 1fr 1fr 1fr;
//     grid-gap: 1rem;
//     align-items: center;
//     align-self: flex-start;
//     align-items: stretch;
//     margin: 2rem 0;

//     .section3_divcard{
//         display: flex;
//         flex-direction: column;

// ****************** À APPROUVER ********************* //
// J'arrivais pas à centrer les 2 dernières images en taille 1280-978px, alors j'ai remplacé le display grid en display flex.
// J'ai essayé avec nth child, mais ça devenait trop compliqué pour moi et ça va contre le principe de grid
// J'ai laissé les media queries dans la section pour que ce soit plus simple à comprendre, on pourra les faire migrer après
// Si ça te tente d'essayer de jouer sur l'alignement des 2 images du bas :) 
// voir https://stackoverflow.com/questions/46276793/how-to-center-elements-on-the-last-row-in-css-grid 

.section3_gridcard{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2%;
    margin: 2rem 0;
            
    .section3_divcard{
        width: 23%;
        flex: 1;
        flex-basis: 23%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        
            @media screen and (max-width: 1279px) {
                max-width: 32%;
                flex-basis: 32%; // Ajuster la taille de base pour 3 colonnes
            }
        
            @media screen and (max-width: 767px) {
                max-width: 48%;
                flex-basis: 48%; // Une seule colonne pour les écrans plus petits
            }

        img {
            object-position: center;
            width: 100%;
            margin: auto;
            overflow: hidden;
            border-bottom: 2px solid $color-accent;
            box-shadow: 0 3px 6px rgba(18, 14, 7, 0.16), 0 3px 6px rgba(13, 0, 0, 0.23);
            
            & img:hover {
                box-shadow: 0 14px 28px rgba(18, 14, 7, 0.25), 0 10px 10px rgba(13, 0, 0, 0.22);
            }
        }
    
        h3, h4 {
            font-family: 'Lato', sans-serif;
            color: $color-tertiaire;
        }
    
        h3 {
            font-size: 1.75rem;
            letter-spacing: 0.05rem;
            margin: 0.75rem 0 0.05rem 0;
        }
    
        h4 {
            font-size: 1rem;
        }
    
        strong {
            color: $color-accent;
            letter-spacing: 0.04rem;
            margin-left: 0.25rem;
        }
    
        p{
            font-family: 'FrankRuhlLibre, serif';
            font-size: 1.15rem;
            margin-top: 0.5rem;
            flex-grow: 1;
        }
        i {
            color: $color-icone;
            font-size: 1.5rem;
            margin: 1rem 1rem 1.5rem 0;
            transition: 0.3s, color 0.3s;
    
            &:hover {
                color: $color-accent;
            }
        }
    }
}