@import 'variables';
@import 'typography';

#section5{
    background-color:rgb(37, 29, 14);
    
}

.section5_conteneur{
    padding-top: 3rem;
    padding-bottom: 3rem;
    max-width: 1200px;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.section5_text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    margin: 2rem;
}

.section5_textstats{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0.5rem;
    width: 100%;
    align-items:center;
    justify-items: center;

}

.section5_textstats--card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
    margin: 2rem;
    
}