#section1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 85vh;
}

.section_presentation{
    max-width: 1200px;
    margin: auto;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(14, 1fr);
    grid-template-rows: repeat(3, 1fr);
    align-items: center;
    padding-top: 5rem;
    padding-bottom: 5rem;
}

.section_presentation--img{
    width: 100%;
    grid-column: 8/14;
    grid-row: 1/4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.section_presentation--text{
    display: flex;
    flex-direction: column; 
    justify-content: center;
    text-align: left;
    opacity: .999999;
    grid-column: 2/10;
    grid-row: 1/4;

    & h1{
        font-family: 'Frank Ruhl Libre', serif;
        font-size: 4rem;
        text-transform: uppercase;
        line-height: 5.5rem;
        color: $color-tertiaire;
    }
    
    & p{
        font-size: 1.25rem;
        font-family: 'Lato', sans-serif;
        word-spacing: 0.25rem;
        line-height: 1.5rem;
        color: $color-secondaire;
        max-width: 60%;
    }
}