@import 'variables';
@import 'typography';

#section6{
    background-color:$color-fond;
}

.section6_grid{
    max-width: 1200px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap:1rem;
    margin: auto;
    width: 100%;
    align-items:center;
    justify-items: center;    
}

.section6_img {
	object-position: center;
	width: 95%;
	margin: auto;
	overflow: hidden;
    
    & img:hover {
        transform: scale(1.25);
        transition: .5s, transform .5s ease-out;
    }
}
