#section1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 85vh;
}

.section_presentation{
    max-width: 1200px;
    margin: auto;
    display: grid;
    justify-content: center;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows:1fr 1fr 1fr ;
    align-items: center;
    padding-top: 5rem;
    padding-bottom: 5rem;
}

.section_presentation--img{
    width: 100%;
    grid-column: 4/7;
    grid-row: 1/4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.section_presentation--text{
    display: flex;
    flex-direction: column; 
    justify-content: center;
    text-align: left;
    opacity: .999999;
    grid-column: 1/5;
    grid-row: 1/4;

    & h1{
        font-family: 'Frank Ruhl Libre', serif;
        font-size: 4rem;
        text-transform: uppercase;
        line-height: 5.5rem;
        color: $color-tertiaire;
    }
    
    & p{
        font-size: 1.25rem;
        font-family: 'Lato', sans-serif;
        word-spacing: 0.25rem;
        line-height: 1.5rem;
        color: $color-secondaire;
        max-width: 60%;
    }
}

// BOUTONS

.btn--primaire{
    width: 25%;
    margin: 2rem 0 0 1.5rem;
    height: 3rem;
    padding: 0 1.25rem;
    border: 1px solid $color-accent;
    background-color: $color-accent;
    color: $color-btn-txt;
    font-size: 1.25rem;
    text-transform: uppercase;
    letter-spacing: 0.05rem;
    transition: background-color 0.3s, color 0.3s;

    &:hover {
        background-color: $color-btn-txt;
        color: $color-accent;
    }
}

.btn--secondaire{
    width: 25%;
    margin-top: 2rem;
    height: 3rem;
    padding: 0 1.25rem;
    border: 1px solid $color-accent;
    color: $color-accent;
    font-size: 1.25rem;
    text-transform: uppercase;
    letter-spacing: 0.05rem;
    transition: background-color 0.3s, color 0.3s;

    &:hover {
        background-color: $color-btn-txt;
        color: $color-accent;
    }
}

// h1{
//     font-size: 8rem;
//     font-family: 'Frank Ruhl Libre', serif;
//     color: $color-primaire;
// }

