@use 'variables';

// TYPOGRAPHIE

h1, h2 {
    font-family: 'Frank Ruhl Libre', serif;
    color: $color-primaire;
}

h1 {
    font-size: 8rem;
}

h2 {
    font-size: 5.4rem;
    color: $color-primaire;
    margin: 2rem 0;
}

a {
    text-decoration: none;
    transition: all 0.3s;
}

